%% == Erlang Compiler ==
{erl_opts, [debug_info]}.

%% == EUnit ==
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

%% == Erlang code formatter ==
{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

%% == xref ==
{xref_warnings, true}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

%% == Distribution parameters ==
{dist_node, [
    {setcookie, 'cookie'},
    {name, 'zeunit@localhost'}
]}.
