tools::has() {
  type "$1" &>/dev/null
}

if ! tools::has tput; then
  echo "'tput' tool is missing"
fi

console::bold() {
  tput bold
}

console::red() {
  tput setaf 1
}

console::reset() {
  tput sgr0
}

die() {
  echo -e "$(console::red)$(console::bold)FATAL: ${*}$(console::reset)" >&2
  exit 1
}


asdf::has() {
  asdf current $1 >>/dev/null 2>&1
}

use asdf

while read asdf_tool; do
  if ! asdf::has ${asdf_tool}; then asdf direnv local ${asdf_tool}; fi
done < <(cat .tool-versions | grep -v '\#')

watch_file ".asdf"
dotenv_if_exists .envrc.local

export JAVA_HOME=$(dirname $(dirname $(expand_path $(asdf which java) "/")))
export ASDF_DIRENV_CLOUSEAU=true
