use asdf
watch_file ".asdf"
dotenv_if_exists .envrc.local
export ERL_PATH=$(asdf where erlang)
export JINTERFACE_VSN=$(semver_search "${ERL_PATH}/lib" "jinterface-" "1")
JINTERFACE_PATH="${ERL_PATH}/lib/jinterface-${JINTERFACE_VSN}"

if [ ! -f "deps/jinterface-${JINTERFACE_VSN}.jar" ]; then
    if [ -f "${JINTERFACE_PATH}/priv/OtpErlang.jar" ]; then
        echo "Installing jinterface-${JINTERFACE_VSN}.jar"
        cp "${JINTERFACE_PATH}/priv/OtpErlang.jar" "deps/jinterface-${JINTERFACE_VSN}.jar"
    else
        echo "jinterface not found in ${JINTERFACE_PATH}/"
    fi
fi