**/bin
**/build/
**/node_modules
**/project
**/target
*.beam
*.class
*.orig
*.out
.asdf
.bloop
.bsp
.DS_Store
.envrc.local
.history
_build
artifacts
build/
ci-artifacts/
deps/
erl_crash.dump
jmx_prometheus_javaagent*.jar
syslog.app.conf
tmp/
zeunit/*.xml

# idea
*.iml
.idea

# vscode
.metals
.vscode
