**/.gradle/
**/bin
**/build/
**/node_modules
**/project
**/target
*.orig
.asdf
.bloop
.bsp
.DS_Store
.envrc.local
.gradle/
.history
artifacts
build/
gradle/
gradlew
gradlew.bat

# idea
*.iml
.idea

# vscode
.metals
.vscode
