**/bin
**/build/
**/node_modules
**/project
**/target
*.beam
*.class
*.orig
.asdf
.bloop
.bsp
.DS_Store
.envrc.local
.gradle/
.history
_build
artifacts
build/
ci-artifacts/
deps/
jmx_exporter.yaml
jmx_prometheus_javaagent-1.5.0.jar
tmp/
zeunit/*.xml

# idea
*.iml
.idea

# vscode
.metals
.vscode

erl_crash.dump

syslog.app.conf
syslog.out
