# pre-requisite
direnv 2.37.1
# build tools
java openjdk-21.0.2
scala 2.13.18
# erlang needs java so it should be after it in the list
erlang 26.2.5.20
rebar 3.27.0
coursier 2.1.24
editorconfig-checker 3.0.3
sbt 1.12.9
# required tools
yq 4.53.2
# project management tools
github-cli 2.91.0
# optional auxiliary tools
bat 0.26.0
# static analysis tool
spotbugs 4.8.6
# CouchDB tests
elixir 1.19.5-otp-26
python 3.14.4
# documentation
typst 0.14.2
