# build tools
java semeru-openj9-_openj9-
gradle 7.5.1
scala 2.13.8
# erlang needs java so it should be after it in the list
# the only version which supports observer
erlang 25.0.3
coursier 2.1.0-M6-49-gff26f8e39

# required tools
yq 4.27.2

# project management tools
github-cli 2.14.4

# optional auxiliary tools
bat 0.21.0
